/* 主框架 & 通用设置 */
.bodycontainer{
    /* max-width: 1150px; */
    margin-top: 50px;
    /* padding-right: 80px; */
}

main .bodycontainer{
    margin-top: 20px;
}

a{
    color: #3A6bA5;
    text-decoration: none;
}

@media(min-width: 992px){
    .main{
        padding-right: 10%;
    }
}

/* title - logo */
.headbar{
    background-color: #993b28;
    min-height: 2.5px;
}

#title-logo{
    float: left;
    display: block;
    width: 84px; height: 84px;
}

#blog-title{
    font-size: 37.5px;
    color: #333E40;
}

#blog-subtitle{
    font-size: 18px;
    color: #919EB1;
}

.blog-header{
    width: 280px;
    margin-bottom: 40px;
}

@media(max-width: 576px){
    .blog-header{
        width: 280px;
        margin-bottom: 40px;
        text-align: center;
    }
}

/* navibar - 导航栏 */
.breadcrumb-item::before{
    margin-left: 20px;
    margin-right: 20px;
}

/* sidebar */
/* sidebar - 侧边栏 - 简短介绍 */

#brief-intro{
    background-color: #F7F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

@media(max-width: 767px){
    #sidebar{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* post - 文章 */
/* post - metadata */
.post-title{
    font-size: 24px;
}

.post-title a{
    color: #3A6bA5;
}

.post-metadata .far{
    margin-right: 5px;
}

.post-metadata{
    color: #919EB1;
    margin-bottom: 15px;
}

.post-metadata-time{
    margin-right: 25px;
}

.read-more{
    margin-top: 15px;
    padding-right: 15px;
    text-align: right;
    color: #993b28;
}

.read-more>a{
    text-decoration: underline;
    color: #993b28;
}

.seperate-line{
    clear: both;
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.1;
}

/* single page style */

.single-title{
    text-align: center;
    font-size: 32px;
}

.single-metadata{
    text-align: center;
    color: #919EB1;
    margin-bottom: 30px;
}

.single-metadata .far{
    margin-right: 5px;
}
.single-metadata-time{
    margin-right: 10px;
}

/* for basic style */
h2, h3, h4{
    border-left-style: solid;
    border-left-color: #993b28;
    padding-left: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

h2{
    font-size: 160%;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3{
    font-size: 125%;
    margin-top: 20px;
    margin-bottom: 15px;
}

h4{
    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F7F3F3;
    padding: 1.2em 30px 1.2em 50px;
}

blockquote::before{
    content: "\201C";
    font-family: times;
    font-style: normal;
    font-size: 48px;
    color: #993b28;
    font-weight: bold;
    line-height: 30px;
    margin-left: -40px;
    position: absolute; 
}

blockquote p{
    margin-bottom: 0px;
    font-style: italic;
}

blockquote cite{
    font-style: normal;
}

/* for the code */
pre{
    max-width: 90%; 
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.hljs-ln-numbers{
    font-size: 80%;
    text-align: right;
    color: #6c757d;
}
.hljs-ln-code{
    padding-left: 15px !important;
    font-size: 87.5%;
}

img{
    display: block;
    max-width: 85%;
    margin: auto;
}


/* footer */
.blog-footer .container{
    text-align: center;
    color: #919EB1;
    border-top-style: solid;
    border-top-color: #F7F3F3;
    border-top-width: 0.5px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 40px;
}